@model Login

<div class="text-left">
    <h1 class="display-4">Регистрация пользователя</h1>
    <form asp-action="Registration" asp-controller="Account">
        <div class="form-group">
            <label asp-for="UserName">Имя пользователя</label>
            <input asp-for="UserName" class="form-control" placeholder="Введите имя пользователя, оно может совпадать с почтой">
            <span asp-validatin-for="UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Введите почту">
            <span asp-validatin-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control">
            <span asp-validatin-for="Password" />
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>

</div>
