@model List<Product>



<div>
    <h1>Каталог продуктов</h1>

</div>
<div >
    @foreach(var product in Model)
    {
        <p>@product.Id</p>
        <p>@product.Name</p>
        <p>@product.Description</p>
        <p>@product.Cost</p>
        <p>________</p>

    }
</div>

