@{
    ViewData["Title"] = "Подробнее";
}

<div class="text-left">
    <h1 class="display-4">Информация о продукте</h1>
    <p>
       <h4>@ViewBag.Product.Name</h4>
       @ViewBag.Product.Description<br>
       @ViewBag.Product.Cost р.
    </p>
</div>
