@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <h1>Цагараев Геор</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <ul>
                    <li><a href="http://localhost:5170/product?name=чебурек&cost=200&description=c сыром">Чебурек с сыром по 200 р</a></li>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="1">Пирожек печеный</a></li>
                </ul>
                <li>Создание представления</li>
                <ul>
                    <li><a href="/product/index?id=0">Чебурек</a></li>
                    <li><a asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id="1">
                           Пирожок</a>
                    </li>
                   
                 </ul>
                <ul>
                    <li>
                        25.02.2025
                        
                            
                     <li><a asp-controller="User" asp-action="Index"> Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</a></li>
                        
                <li>Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</li>
            </ul>
        </li>
        <li>
            19.02.2025
            <ul>
                <li>Создание корзины</li>
                <li>Добавление товаров</li>
            </ul>
        </li>
    </ul>
</div>
