@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <li>Создание представления</li>
                <ul>
                    <li><a href="/product/index?name=чебурек&description=с сыром&cost=120&path=https://swlife.ru/image/cache/catalog/product/02/55/02550518f7517f25a9a7f5da33644fd6-0x0.webp">Чебурек</a></li>
                    <li><a asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-name="Пирожок"
                           asp-route-cost="50"
                           asp-route-description="печеный"
                           asp-route-path="https://slastenabakery.ru/image/cache/catalog/tovar/pirozhok-kuritsa-652x495.jpg">
                           Пирожок</a>
                    </li>
                   
                 </ul>
                <li>Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</li>
            </ul>
        </li>
        <li>4.02.2025
        </li>
    </ul>
</div>
