@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Джагаев Сармат</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <li>Создание представления</li>
                <li>Испоользование bootstrap</li>
                <li><a asp-controller="User" asp-action="Index">Самостоятельная работа: создать MVC для пользователя</a></li>
            </ul>
        </li>
        <li>12.02.2025
            <ul>
                <li>Создание репозитория для храннеия продуктов</li>
                <li>Создание контроллера для загрузки списка продуктов</li>
                <li>Создание представления для отображения списка продуктов</li>
                <li>Самостоятельная работа: создать MVC для списка пользователей</li>
            </ul>
        </li>
        <li>
            19.02.2025
            <ul>
                <li>Создание корзины</li>
                <li>Добавление товаров</li>
            </ul>
        </li>
    </ul>
</div>
