@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <li>Создание представления</li>
                <ul>
                    <li><a href="/product/index?id=0">Чебурек</a></li>
                    <li><a asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id="1">
                           Пирожок</a>
                    </li>
                   
                 </ul>
                <li>Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</li>
            </ul>
        </li>
        <li>4.02.2025
        </li>
    </ul>
</div>
