@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <ul>
                    <li><a href="http://localhost:5170/product?name=чебурек&cost=200&description=c сыром">Чебурек с сыром по 200 р</a></li>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-name="Цахараджин" asp-route-cost="350" asp-route-description="Пирог с листьями">Пирог осетинский с листьями по 350 р</a></li>
                </ul>
                <li>Создание представления</li>
                <li>Испоользование bootstrap</li>
                <li>Самостоятельная работа: создать MVC для пользователя</li>
            </ul>
        </li>
        <li>
            18.03.2025
            <ul>
                <li>Создание репозитория для храннеия продуктов</li>
                <li>Создание контроллера для загрузки списка продуктов</li>
                <li>Создание представления для отображения списка продуктов</li>
                        <ul>
                            <li> Простое представление</li>
                            <li> <a href="/product/catalog">Представление с карточками</a></li>
                        </ul>
                <li>Добавление кнопки ПОДРОБНЕЕ</li>
                <li>Добавление меню КАТАЛОГ ПРОДУКТОВ</li>
                <li>Самостоятельная работа: создать MVC для списка пользователей</li>
            </ul>
        </li>
        <li>
            19.02.2025
            <ul>
                <li>Создание корзины</li>
                <li>Добавление товаров</li>
            </ul>
        </li>
    </ul>
</div>
